<%= form_with(model: comment) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :comment, size:"70x5" %>
  </div>
  
  <div style="display:none;">
    <%if comment.id.nil? && id_submission != 0
    comment.id_submission = id_submission%>
    <%=form.text_field :id_submission%>
    <%end%>
  </div>
  
  <div style="display:none;">
    <%if comment.id.nil? && id_father != 0
    comment.id_comment_father = id_father%>
    <%=form.text_field :id_comment_father %>
    <%end%>
  </div>
  
  

  <div class="actions">
    <%if comment.id.nil?%>
      <%if comment.id_comment_father != 0%>
        <%=form.submit "reply"%>
      <%else%>
        <%=form.submit "add comment"%>
      <%end%>
    <%else%>
     <%=form.submit "Update"%>
    <%end%>
  </div>
<% end %>
