<%= form_with(model: user) do |form| %>
  <body>
    <div align="left">
      <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#f6f6ef">
        <tbody>
          
          <tr>
            <body>
              <% if user.errors.any? %>
                <td><%= user.errors.first.message %></td>
              <% end %>
            </body>
          </tr>
          
          <tr>
            <td>user:</td>
            <td><%=user.name%></td>
          </tr>
          
          <tr>
            <td>created:</td>
            <td><%=distance_of_time_in_words(user.created_at, Time.new)%></td>
          </tr>
          
          <tr>
            <td>karma:</td>
            <td><%=user.karma%></td>
          </tr>
          
          <tr>
            <td><%='Apikey: '%></td>
            <td><%=user.auth_token%></td>
          </tr>
          
          <tr class="field">
            <td>about:</td>
            <td><%= form.text_area :about, size: "70x5" %></td>
          </tr>
          
          <%= render 'links', user: user.name %>
          
          <tr>
            <td class="actions">
              <%= form.submit "update"%>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </body>
<% end %>
