<%= form_with(model: submission) do |form| %>
  <body>
    <div align="center">
      <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        
        <tr>
          <body>
            <% if submission.errors.any? %>
              <td><%= submission.errors.first.message %></td>
            <% end %>
          </body>
        </tr>
        
        <tr>
          <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
            <tbody>
              
                <tr>
                  <td style="display:none;">
                    <% submission.author_username = current_user.name %>
                    <%= form.text_field :author_username %>
                    </td>
                </tr>
                
                <tr>
                  <td></td>
                  <td>
                    <table>
                      <tbody>
                        <%= render 'submission', submission: submission, count: 1, url: '/item?id='+submission.id.to_s, countURL: 0 %>
                      </tbody>
                    </table>
                  </td>
                </tr>
                
                <tr>
                  <td>title</td>
                  <td><%= form.text_field :title, size: "70x1" %></td>
                </tr>
                
                <% if submission.url != "" %>
                  <tr>
                    <td>url</td>
                    <td><%= submission.url%></td>
                  </tr>
                <%else%>
                  <tr>
                    <td>url</td>
                    <td><%= submission.text%></td>
                  </tr>
                <%end%>
                
                <tr>
                  <td></td>
                  <td><%= form.submit 'update' %></td>
                </tr>
              
            </tbody>
          </table>
        </tr>
        
      </table>
    </div>
  </body>

<% end %>