<%= form_with(model: submission) do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
        <% submission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <table border="0" cellpadding="2">
    <tbody>
      <tr>
        <td>title</td>
        <td><%= form.text_field :title, size: "70x1" %></td>
      </tr>
      <tr>
        <td>url</td>
        <td><%= form.text_field :url, size: "70x1" %></td>
      </tr>
      <tr>
        <td></td>
        <td>or</td>
      </tr>
      <tr>
        <td>text</td>
          <td><%= form.text_field :text, size: "70x5" %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= form.submit 'submit' %></td>
      </tr>
    </tbody>
  </table>
  <br>
  <table>
    <body>
      <tr>
        <td>Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.</td>
      </tr>
      <tr>
        <td>You can also submit via <%= link_to 'bookmarklet', '/enlace' %></td>
      </tr>
    </body>
  </table>

<% end %>