<tr class="athing" id=submission.id>
  <td align="right" valign="top" class="title">
    <span class="rank"><%=count%>.</span>
  </td>   
  
  <td valign="top" class="votelinks">
    <center>
    
      <% if user_signed_in? && (current_user.LikedSubmissions.detect{|e| e == submission.id.to_s}.nil?) %>
        <%= link_to "▲", upvote_submission_path(submission, url: url), method: :put%>
      <%else%>
        <%if !user_signed_in? %>
          <%= link_to "▲", upvote_submission_path(submission, url: url), method: :put%>
        <%end%>
      <%end%>
    
    </center>
  </td>
  
  <td class="title">
    <% if (submission.url == "")
      submission.url = "/past"
    end %>
    
    <a href=<%=submission.url%> class="titlelink"><%= submission.title %></a>
    <span class="sitebit comhead">
      (<a href=<%=submission.url%>>
          <%link = "hola"%>
          
          <div id="myHTMLWrapper"></div>
          
          <script>
            var wrapper = document.getElementById("myHTMLWrapper");
            var myHTML = '<span class="test">Testing out my script!</span>';
            wrapper.innerHTML = myHTML
          </script>
        <span class="sitestr"><%=link%></span>
      </a>)
    </span>
  </td>
  
</tr>
  
<tr>
  <td colspan="2"></td>
  
  <td class="subtext">
    <span class="score" id="score_30782735"><%=submission.UpVotes%></span> by 
    <%= link_to submission.author_username, "/user?id="+submission.author_username%>
    <span class="age" title="2022-03-23T20:11:49">
      <a href=<%= "item?id="+submission.id.to_s%>><%=distance_of_time_in_words(submission.created_at, Time.new)%> ago</a>
    </span> 
    <span id="unv_30782735"></span> | 
    
    <% if user_signed_in? && !(current_user.LikedSubmissions.detect{|e| e == submission.id.to_s}.nil?) %>
      <%= link_to "unvote", unvote_submission_path(submission, url: url), method: :put%> |
    <%end%>
    
    <a href="news" class="clicky">hide</a> | 
    <a href="news">&nbsp;comments</a>              
  </td>
</tr>