<tr class="athing" id=<%=submission.id%>>
  <td align="right" valign="top" class="title">
    <% if count != -1 %>
      <span class="rank"><%=count%>.</span>
    <%end%>
  </td>   
  
  <td valign="top" class="votelinks">
    <center>
      <% if user_signed_in? && current_user.name == submission.author_username%>
        <font color="#ff6600">*</font>
      <%else%>
        <% if user_signed_in? && !current_user.LikedSubmissions.nil? && (current_user.LikedSubmissions.detect{|e| e == submission.id.to_s}.nil?) %>
          <%= link_to "▲", upvote_submission_path(submission, url: url), method: :put%>
        <%else%>
          <%if !user_signed_in? %>
            <%= link_to "▲", upvote_submission_path(submission, url: url), method: :put%>
          <%else%>
            <%= "⠀"%>
          <%end%>
        <%end%>
      <%end%>
    
    </center>
  </td>
  
  <td class="title">
    <% if (submission.url == "")
      submission.url = "/item?id="+submission.id.to_s
    end %>
    <a href=<%=submission.url%> class="titlelink"><%= submission.title %></a>
    <span class="sitebit comhead">
      <%if(!@shorturl.nil? && @shorturl[countURL] != "")
        _url ="("+@shorturl[countURL]+")"
      else
        _url =""
      end%>
      <a href=<%=submission.url%>>
        <span class="sitestr"><%=_url%></span>
      </a>
    </span>
  </td>
  
</tr>
  
<tr>
  <td colspan="2"></td>
  
  <td class="subtext">
    <span class="score"><%=submission.UpVotes%></span> by 
    <%= link_to submission.author_username, "/user?id="+submission.author_username%>
    <span class="age" title=submission.created_at>
      <a href=<%= "item?id="+submission.id.to_s%>><%=distance_of_time_in_words(submission.created_at, Time.new)%> ago</a>
    </span> 
    <span id="unv_30782735"></span> | 

    <% if user_signed_in? && submission.author_username == current_user.name %>
      <%= link_to "edit", "/submissions/"+submission.id.to_s+"/edit"%> |
      <%= link_to "delete", soft_delete_submission_path(submission), method: :put%> |
    <%end%>
    
    <% if user_signed_in? && !current_user.LikedSubmissions.nil? && !(current_user.LikedSubmissions.detect{|e| e == submission.id.to_s}.nil?) %>
      <%= link_to "unvote", unvote_submission_path(submission, url: url), method: :put%> |
    <%end%>
    
    <%= link_to "comments", "item?id="+submission.id.to_s, url: url %>
  </td>
</tr>
<%if url == ("/item?id="+submission.id.to_s)%>
<tr>
  <td colspan="2"></td>
  <td>
      <%=submission.text%>
  </td>
</tr>
<%end%>
