<html lang="en" op="past">
  <body>
    <center>
      
      <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tbody>
          <%= notice %>
        </tbody>
      </table>
      
      <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr id="pagespace" title="" style="height:10px"></tr>
        
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
              
              <tr style="height:6px"></tr>
              
              <tr>
                <td colspan="2"></td>
                <td>Stories from <%= @dataN %></td>
              </tr>
              
              <tr style="height:9px"></tr>
              
              <tr>
                <td colspan="2"></td>
                <td>
                  Go back a 
                  <span class="hnmore"><a href=<%= @dataD %>>day</a></span>, 
                  <span class="hnmore"><a href=<%= @dataM %>>month</a></span>, or 
                  <span class="hnmore"><a href=<%= @dataY %>>year</a></span>.
                  Go forward a 
                  <span class="hnmore"><a href=<%= @dataF %>>day</a></span>.
                </td>
              </tr>
              
              <tr style="height:14px">
                <td></td>
              </tr>
              
              
              <% count = 1 %>
              <% @submissions.each do |submission| %>
                
                <%= render 'submission', submission: submission, count: count, url: '/past' %>
                <% count = count + 1%>
                
              <% end %>
              
              
              <tr class="morespace" style="height:10px">
                <td></td>
              </tr>
              
              <tr>
                <td colspan="2"></td>
                <td class='title'>
                  <a href='past?p=2' class='morelink' rel='next'>More</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      
        <tr>
          <td>
            <%= render 'bottomURL'%>
          </td>
        </tr>
        
      </table>
    </center>
  </body>
  <script type='text/javascript' src='hn.js?QZejSKY7mNWXnObVdaSN'></script>
</html>